@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;600&display=swap");

:root {
  --theme-blue-dark: #0e1731;
  --theme-blue-dark-active: #1f2f63;
  --theme-blue: #6177e5;
  --theme-gray: #f7f8fc;
  --theme-black: rgb(100, 100, 100);
  --theme-black-darker: rgb(70, 70, 70);
  --default-border-gray: rgba(0, 0, 0, 0.1);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Rubik", sans-serif !important;
}

body {
  background: var(--theme-blue-dark) !important;
}

.initializing {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
}

.pre {
  white-space: pre-wrap;
  overflow-x: auto;
  word-wrap: break-word;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-blue-dark);
}

.main-card {
  display: flex;
  align-items: center;
  min-height: 40rem;
  width: 62rem;
}

.main-card-left {
  min-height: 40rem;
  background: var(--theme-blue);
  color: white;
  width: 27rem;
  padding: 2rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 100;
}

.main-card-left > .loading-bls {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card-left > .QRCodeContainer {
  width: 100%;
  padding: 2rem 0;
  margin: 0 0 2rem 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.main-card-left > .app-title {
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
}

.main-card-left > .dropdown-container {
  margin: auto;
}

.main-card-left > .dropdown-container > .dropdown-container-title {
  display: flex;
  justify-content: space-between;
}

.main-card-left > .dropdown-container > .dropdown-container-title > .show-keys {
  cursor: pointer;
  color: yellow;
}

.main-card-right {
  width: 35rem;
  min-height: 35rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: var(--theme-gray);
}

/* .main-card-right > .tabs {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--default-border-gray);
}

.main-card-right > .tabs > .tab {
  padding: 1rem 3rem;
  text-align: center;
  width: 100%;
}

.main-card-right > .tabs > .active {
  border-bottom: 3px solid var(--theme-blue);
} */

.main-card-right > .header {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--default-border-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-card-right > .header > .account-details > p {
  font-family: "Manrope" !important;
  font-weight: 600;
  margin: 0;
  padding: 0.2rem 0;
  color: #747474;
  font-size: 90%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 25rem;
}

.main-card-right > .header > .account-details > h4 {
  padding: 0;
  margin: 0;
}

.main-card-right > .balance {
  padding: 2rem 2rem;
  font-family: "Manrope";
  /* max-height: 35rem;
  overflow-y: scroll; */
}
/* 
.main-card-right > .transactions {
  padding: 2rem 3rem;
  max-height: 35rem;
  overflow-y: scroll;
}

.main-card-right > .transactions > .records {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  justify-content: space-between;
}

.main-card-right > .transactions > .records > .id {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.main-card-right > .balance > h5 {
  margin: 0;
}

.main-card-right > .balance > .amount {
  display: flex;
  padding: 1.4rem 0;
  color: #555555;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.main-card-right > .balance > .amount > .name {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.main-card-right > .balance > .amount > .value {
  font-size: 4rem;
  line-height: 4rem;
}

.main-card-right > .balance > .deposit-form {
  padding-top: 3rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
.select {
  font-family: "Lato";
  position: relative;
  display: flex;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5;
  font-size: 90%;
  font-weight: bold;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.25em;
}
select {
  flex: 1;
  padding: 0 1rem;
  color: rgb(58, 58, 58);
  cursor: pointer;
}

.button-group {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.customButton {
  font-family: "Rubik", sans-serif !important;
  font-size: 0.8rem !important;
  padding: 0.8rem 1rem !important;
  color: white !important;
  background: var(--theme-blue-dark) !important;
}

.customButton:active {
  background: var(--theme-blue-dark-active) !important;
}

.form-button {
  margin-top: 1rem !important;
}

.burn {
  background: #ff5147 !important;
}

.burn:active {
  background: #ff392e !important;
}

.modal-content-center {
  text-align: center;
}

.toggle-container {
  margin-top: 0.5rem;
  padding: 0.8rem 0;
}

.toggle-mode > label {
  color: white !important;
  font-weight: bold;
}

/* ################### MOBILE STYLE OVERRIDES ################### */
@media (max-width: 500px) {
  .main-card {
    min-height: 100vh;
    width: 100vw;
    border-radius: 0;
    flex-direction: column;
    background: var(--theme-blue);
  }

  .main-card-left {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    position: fixed;
  }

  .main-card-right {
    margin-top: 84vh;
    width: 100%;
    min-height: 90vh;
    z-index: 500;
    border-radius: 2rem 2rem 0 0;
  }

  .main-card-right > .header {
    padding: 1.2rem 2rem;
  }

  .main-card-left > .QRCodeContainer {
    max-height: 350px;
    margin: 0 0 2rem 0;
  }

  .select {
    width: 100%;
  }

  .customButton {
    font-size: 0.9rem !important;
    padding: 1rem 0.5rem !important;
  }

  .main-card-right > .balance {
    max-height: none;
    min-height: 30rem;
    overflow-y: hidden;
  }

  .main-card-right > .transactions {
    max-height: none;
    min-height: 50rem;
    overflow-y: hidden;
  }

  .main-card-right > .balance > .amount {
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-card-right > .balance > .amount > .name {
    font-size: 2rem;
  }

  .main-card-right > .balance > .amount > .value {
    font-size: 6rem;
    line-height: 6rem;
  }
}
